<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="margin-bottom: 30px; border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1>Angular Demo</h1>
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-menu" (click)="toggleBurger()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="nav-menu" [ngClass]="{ 'is-active': showBurgerMenu }" (click)="closeBurger()">
    <div class="navbar-start">

    </div>
    <div class="navbar-end">
      <a class="navbar-item is-tab" [routerLink]="RouteConstant.AUTO_CD" routerLinkActive="is-active">Auto CD</a>
      <a class="navbar-item is-tab" [routerLink]="RouteConstant.MANUAL_CD" routerLinkActive="is-active">Manual CD</a>
      <!-- <a class="navbar-item" [routerLink]="">Manual CD with ref</a> -->
    </div>
  </div>
</nav>

<div class="container is-fluid">
  <router-outlet></router-outlet>
</div>